.form-container{
  margin: 20px 0px 0px 0px;
}
h1{
  text-align: center;
  color:#0d1b2a;
}
form{
  padding: 5%;
  width: 50%;
  background: #e0e1dd;
  color: #0d1b2a;
  font-weight: 200;
  border-radius: 5px;
}
button{
  border-radius: 5px;
  border:none;
  color:white;
  background: #0d1b2a;
  padding: 15px;
  width: 30%;
  display: block;
  margin: auto;
  margin-top:15px;
}
